:root {
    --scale: 1;
}

#app {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    height: 100vh;
}

body, html {
  margin: 0;
}

.hidden {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
}

#logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
}

.bg-image {
    /* The image used */
    background-image: url("../assets/images/background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* COLORS */
.highlight-gray {
    background: #ffffff;
}

.highlight-green {
    background: #ADFBB5;
}

.shadow-gray {
    background: #373737;
}

.shadow-green {
    background: #34943E;
}

.fill-gray {
    background: #c4c4c4;
}

.fill-green {
    background: #57E365;
}

.inventory-slot-fill {
    background: #8b8b8b;
}

.black {
    background: black;
}

.transparent {
    background: black;
    opacity: 0;
}


/* INVENTORY */
.inventory {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
}

.inventory-slot {
    display: grid;
    grid-template-columns: calc(var(--scale) * 3px) calc(var(--scale) * 48px) calc(var(--scale) * 3px);
    grid-template-rows: calc(var(--scale) * 3px) calc(var(--scale) * 48px) calc(var(--scale) * 3px);
}

.inventory-space {
    width: calc(var(--scale) * 54px);
    height: calc(var(--scale) * 54px);
}


/* BUTTON */
.button {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
}

.button-corner {
    display: grid;
    grid-template-columns: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
    grid-template-rows: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
}

.button-horizontal-border {
    display: grid;
    grid-template-columns: auto;   
    grid-template-rows: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
}

.button-vertical-border {
    display: grid;
    grid-template-columns: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
    grid-template-rows: auto;   
}

.button-text {
    font-family: minecraft-styled;
    font-size: calc(var(--scale) * 30px);
    padding: calc(var(--scale) * 15px);
    margin: auto;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.button-text-gray {
    color: black;
}

.button-text-green {
    color: white;
}

.button-space-vertical {
    width: calc(var(--scale) * 3px);
}


/* PROJECT INFO FIELDS */
.project-info {
    display: grid;
    grid-template-columns: calc(var(--scale) * 180px) calc(var(--scale) * 150px) calc(var(--scale) * 180px);
}

.project-info-name-header {
    color: #8b8b8b;
    font-family: minecraft-regular;
    font-size: 20px;
    padding-left: 5px;
}

.project-info-name-body {
    color: black;
    font-family: minecraft-regular;
    font-size: 25px;
    padding-left: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-info-author-header {
    color: #8b8b8b;
    font-family: minecraft-regular;
    font-size: 20px;
    padding-left: 5px;
}

.project-info-author-body {
    color: black;
    font-family: minecraft-regular;
    font-size: 25px;
    padding-left: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-info-date-header {
    color: #8b8b8b;
    font-family: minecraft-regular;
    font-size: 20px;
    padding-left: 5px;
}

.project-info-date-body {
    color: black;
    font-family: minecraft-regular;
    font-size: 25px;
    padding-left: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-info-space {
    height: calc(var(--scale) * 3px);
}

.project-info-full-space {
    height: calc(var(--scale) * 73px);
}


/* WINDOW */
.window {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    float: left;
    padding: calc(var(--scale) * 10px);
}

.border-top-left {
    display: grid;
    grid-template-columns: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 9px);
    grid-template-rows: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 9px);
}

.border-top {
    display: grid;
    grid-template-columns: auto;   
    grid-template-rows: calc(var(--scale) * 3px) calc(var(--scale) * 6px) calc(var(--scale) * 12px);
}

.border-top-right {
    display: grid;
    grid-template-columns: calc(var(--scale) * 9px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
    grid-template-rows: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 9px);
}

.border-left {
    display: grid;
    grid-template-columns: calc(var(--scale) * 3px) calc(var(--scale) * 6px) calc(var(--scale) * 12px);   
    grid-template-rows: auto;
}

.border-right {
    display: grid;
    grid-template-columns: calc(var(--scale) * 12px) calc(var(--scale) * 6px) calc(var(--scale) * 3px);   
    grid-template-rows: auto;
}

.border-bottom-left {
    display: grid;
    grid-template-columns: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 9px);
    grid-template-rows: calc(var(--scale) * 9px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
}

.border-bottom {
    display: grid;
    grid-template-columns: auto;   
    grid-template-rows: calc(var(--scale) * 12px) calc(var(--scale) * 6px) calc(var(--scale) * 3px);
}

.border-bottom-right {
    display: grid;
    grid-template-columns: calc(var(--scale) * 9px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
    grid-template-rows: calc(var(--scale) * 9px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 3px);
}


/* FONTS */
@font-face {
    font-family: minecraft-regular;
    src: url("../assets/fonts/minecraft-font/MinecraftRegular-Bmg3.otf");
}

@font-face {
    font-family: minecraft-regular;
    src: url("../assets/fonts/minecraft-font/MinecraftBold-nMK1.otf");
    font-weight: bold;
}

@font-face {
    font-family: minecraft-regular;
    src: url("../assets/fonts/minecraft-font/MinecraftItalic-1y1e.otf");
    font-style: italic;
}

@font-face {
    font-family: minecraft-styled;
    src: url("../assets/fonts/minecrafter/Minecrafter.Reg.ttf");
}
